@font-face {
  font-family: Etna;
  src: url(../fonts/etna-free-font.otf);

  font-family: Custom;
  src: url(../fonts/20421.ttf);
}
@keyframes back{
  0%{
    background-image: url(../img/background/background2.png);
  }
  25%{
    background-image: url(../img/background/background.png);
  }
  50%{
    background-image: url(../img/background/background4.png);
  }
  75%{
    background-image: url(../img/background/background5.png);
  }
  100%{
    background-image: url(../img/background/background2.png);
  }
}
*{
  letter-spacing: 3px;
  font-family: Custom;
  margin: 0px;
  color: white;
}

body{
  animation: back 20s alternate infinite;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
}

.flex{
  display: flex;
}

.div1{
  flex-basis: 8%;
}

.div2{
  flex-basis: 84%;
}

.div3{
  flex-basis: 8%;
}
.menu-main{
/* пункты меню скрыты */
display: none;
padding: 0;
margin: 0;
float: right;

}
#menu{
/* чекбокс скрыт */
display: none;
}
.title{
  font-size: 50px;
  font-family: Etna;
  color: white;
  text-align: center;
}
h2{
  font-family: Custom;
  font-size: 35px;
  color: white;
  text-align: center;
  margin: 15px;
}
nav{
  float;
  position: fixed;
  bottom: 45%;
}
.menu-list{
  list-style-type: none;
  margin: 5px;
}

/* #menu{
  display: none;
} */

#menu:checked + nav .menu-main {
/* когда чекбокс активен меню становится видимым */
display: block;
}
.button{
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 2px white solid;
  float: right;
}

p{
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
}

figure > img.push{
  max-width: 7%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

figure{
  max-height: 150px;
  text-align: center;
}

img.teamleader{
  max-height:  250px;
}
.rab{
  display: inline-block;
  max-height: 150px;
  margin-top: 100px;
  margin-right: 15px;
  flex: 1;

}
